body {
    background-image: url(assets/note.png);
    background-size: 150%;
    margin: 0px;
}

.mainContainer {
    height: 100%;
    width: 100%;

    text-align: center;

    margin-top: 25vh;
    margin-bottom: auto;
}

.gif {
    box-shadow: 0 0 1vw 1vh white;

    width: 70%;
}

.labelContainer {
    color: whitesmoke;

    text-align: center;

    margin-top: 2vh;

    width: 100vw;
}
