body {
    background-image: url(assets/note.png);
    background-size: 150%;
    margin: 0px;
}

.mainContainer {
    height: 100%;
    width: 100%;

    text-align: center;

    margin-top: 25vh;
    margin-bottom: auto;
}

.gif {
    box-shadow: 0 0 1vw 1vh white;

    width: 70%;
}

.labelContainer {
    color: whitesmoke;

    text-align: center;

    margin-top: 2vh;

    width: 100vw;
}

#messageContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 70%;
    padding: 1vh;
    font-size: 2vh;

    background-color: black;
    border: limegreen 1vh solid;
    border-style: ridge;

    color: white;

    z-index: 1;
}

#messageHeader {
    text-align: center;
    color: limegreen;
    line-height: 1vh;
}
